#lowerthird {
    /* font-family: Arial; */
    font-family: 'OptimusPrinceps', sans-serif;
    /* font-family: 'OptimusPrincepsSemiBold', sans-serif; */
    background-color: rgb(0,0,0,.5); 
    border-left: solid 12px rgb(6,108,55);
    color: white;
    /* padding: 20px 40px; */
    margin: 5% 10%;
    position: absolute;
    bottom: 0;
    /* width: 0%; */
    height: 9em;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    /* visibility: hidden; */
    display: none;
    border-radius: 10px;
}

#name {
    font-size: 50pt;
}

#title {
    font-size: 30pt;
}

#text {
    display: inline-block;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: top;
    /* bottom: 0; */
    text-shadow: 2px 2px 4px #000000;
}

img {
    height: 6em;
    display: inline-block;
    /* vertical-align: center; */
    /* padding: 20px 40px; */
    margin: 15px 0px 0px 10px;
}