:root {
    color-scheme: dark;
}

body {
    margin-left: 7%;
    margin-right: 7%;
}

.inputField {
    width: 95%;
}

input {
    margin: 5px 0;
}

#theNames {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li {
    margin: 5px 0;
}

button {
    width: 95%;
}